$primary: #218dd6;

html {
  scroll-behavior: smooth;
}

// Header

.nav_links li a:hover,
.big-burger li a.active,
.nav_links li a.active {
  color: $primary;
}

.burger {
  cursor: pointer;
}

.iksli {
  transition: all ease 0.5s;
  .line:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .line:nth-child(2) {
    opacity: 0;
  }
  .line:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
  }
}

.big-burger .dropdown_nav {
  width: 60vw;
}

.dropdown_nav {
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: all ease 0.5s;
  a:hover {
    color: $primary;
  }
}

.dropdown_nav.open {
  opacity: 1;
  transform: scaleY(1);
}

// Main + Swipper

.swiper-container {
  height: calc(100vh - 4rem);
  .sm-ic::after {
    font-size: 1rem !important;
  }
  @media (min-width: 640px) {
    .sm-ic::after {
      font-size: 1.5rem !important;
    }
  }
  .swiper-wrapper {
    .swiper-slide {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100vh;
      video {
        z-index: -2;
      }
      .bg {
        background: #7796fa1a;
        z-index: -1;
      }
      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        button {
          span {
            z-index: -1;
          }
        }
      }
    }
    .slide2 {
      background: url(../img/main-img1.jpg) center (center/cover) no-repeat;
    }
    .slide3 {
      background: url(../img/main-img2.jpg) center (center/cover) no-repeat;
    }
    .slide4 {
      background: url(../img/main-img3.jpg) center (center/cover) no-repeat;
    }
  }
}

// Dasturlar

.hero-dasturlar {
  background: url(../img/hero-dasturlar.jpg) center (center/cover) no-repeat;
  .bg {
    background: rgba(0, 0, 0, 0.3);
  }
}
.hero-blog {
  background: url(../img/hero-blog.jpg) center (center/cover) no-repeat;
  .bg {
    background: rgba(0, 0, 0, 0.3);
  }
}
